body{
    margin:0;
    padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    background-color: maroon;
    color: white;
    font-size:30px;
    padding:5px 20px;
}
.row .col {
    margin:5px;
}
div {
    padding:20px;
}
.ingredientEntryContainer {
    padding:0;
    margin:20px;
}
.recipeCard {
    margin:10px;
    padding:0;
    border:solid 2px black;
    border-radius:15px;
    max-width:250px;
    min-width:140px;
    width:30vw;
    background-color:antiquewhite;
}
.recipeCard p:last-child {
    padding-bottom:5px;
}
.individualIngredients {
    padding:5px 5px 0px 15px;
    margin:0;
    font-size:15px;
}
.individualRecipeName {
    display:flex;
    justify-content:space-between;
    margin:0;
    padding:2px 10px;
    align-items: center;
    background-color:maroon;
    color:white;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    font-size:25px;
    cursor:pointer;
}
.ingredientList {
    padding:0;
}

.recipeCardsContainer{
    Display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width:450px;
}
.recipes {
    margin:0;
    padding:0;
    width:100vw;
}
.recipeName{
    margin:0px;
    padding:0px;
}

.recipeForm {
    margin:0 0 10px 10px
}
.removeIcon {
    position:relative;
    background-image: url("images/RemoveButton.png");
    background-size:cover;
    width:20px;
    height:20px;
    margin:0;
    padding:0;
}